# Flask + API
flask
flask-cors
python-dotenv

# LangChain core + integrations
langchain>=0.3.20
langchain-core>=0.3.68
langchain-community>=0.0.22
langchain-text-splitters>=0.3.8
langchain-huggingface
langchain-groq

# Vector store
faiss-cpu==1.11.0

# PDF Parsing
pypdf

# HuggingFace models + embeddings
sentence-transformers>=5.0.0
huggingface-hub
transformers

# Utility
tqdm
pydantic>=2.7.4
requests
typing-extensions

# Logging, errors, dates
setuptools
gunicorn 

